/dist
# build - ./gradlew shared:packJsPackage move from km-shop/shared/build/packages/js
/shared
# npm install
# npm run build
# dist/kmm.min.js move to aurora km-shop/shop/mobile/aurora/shop/qml/js-webpack
/node_modules