*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
kotlin-js-store

### APP ###
dbconfig.properties
app.properties
package-lock.json
shared-0.0.*.tgz
/uploads/
# https://github.com/material-icons/material-icons
/material-icons/
/shop/pc/build-*
