*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
kotlin-js-store

# https://github.com/material-icons/material-icons
/material-icons/

### APP ###
package-lock.json
shared*tgz
cookie.json
build-*

/docs-static
/docs/dokka

.env
