*.iml
.gradle
.idea
.vscode
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
kotlin-js-store

### APP ###
package-lock.json
shared*tgz
cookie.json
build-*

/docs-static
/docs/dokka

.env
