html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.splash {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.splash:before {
    content: " ";
    position: absolute;
    top: -250px;
    right: -100px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: #f6f3ff;
}

.splash:after {
    content: " ";
    position: absolute;
    bottom: -180px;
    left: -200px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background: #e7ffff;
}

.splash .content {
    position: relative;
    z-index: 1;
}

/** Scroll **/
.custom-scroll {
    overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: white;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 4px;
}

/** spin **/
.spin {
    animation: spin 1000ms linear infinite;
}

@keyframes spin {
    to {transform:rotate(360deg);}
}

@media (max-width: 450px) {
    .MuiContainer-root .MuiContainer-root {
        padding-left: 0;
        padding-right: 0;
    }
}

.TextMax2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}